<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="assessment">
      <h2 data-cy="assessmentDetailsHeading"><span jhiTranslate="notationApp.assessment.detail.title">Assessment</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ assessment.id }}</span>
        </dd>
        <dt><span jhiTranslate="notationApp.assessment.date">Date</span></dt>
        <dd>
          <span>{{ assessment.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="notationApp.assessment.coefCont">Coef Cont</span></dt>
        <dd>
          <span>{{ assessment.coefCont }}</span>
        </dd>
        <dt><span jhiTranslate="notationApp.assessment.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'notationApp.TypeAssessment.' + assessment.type }}">{{ assessment.type }}</span>
        </dd>
        <dt><span jhiTranslate="notationApp.assessment.subject">Subject</span></dt>
        <dd>
          <div *ngIf="assessment.subject">
            <a [routerLink]="['/subject', assessment.subject?.id, 'view']">{{ assessment.subject?.nameMat }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/assessment', assessment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
