<div>
  <h2 id="page-heading" data-cy="DegreeHeading">
    <span jhiTranslate="notationApp.degree.home.title">Degrees</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="notationApp.degree.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-degree"
        [routerLink]="['/degree/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="notationApp.degree.home.createLabel"> Create a new Degree </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="degrees?.length === 0">
    <span jhiTranslate="notationApp.degree.home.notFound">No degrees found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="degrees && degrees.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="notationApp.degree.nameDipl">Name Dipl</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let degree of degrees; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/degree', degree.id, 'view']">{{ degree.id }}</a>
          </td>
          <td>{{ degree.nameDipl }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/degree', degree.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/degree', degree.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(degree)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
